*.iml
*.ipr
*.iws
*.log
*.out
*.swp
.idea
.svn
.classpath
.project
.settings
.reviewboardrc
workbench.xmi
*.junit
target
hadoop-hdfs-project/hadoop-hdfs/downloads
hadoop-hdfs-project/hadoop-hdfs-httpfs/downloads
