Package: mapr-timelineserver
Version: __RELEASE_VERSION__
Section: base
Priority: optional
Architecture: amd64
Depends: mapr-hadoop-core (>= __RELEASE_VERSION__)
Maintainer: Hewlett Packard Enterprise
Description: Apache Hadoop Timelineserver v2 distribution included in HPE DataFabric Software Ecosystem Pack
Commit: __GIT_COMMIT__
Branch: __RELEASE_BRANCH__
